<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout" >
<head>
    <meta charset="UTF-8">
    <title>添加报警记录</title>
    <script th:src="@{/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div layout:fragment="content">
        <div class="container" style="width: 500px;">
            <form th:action="@{/Warn_record/addWarn_records}" method="post">
                <div class="form-group">
                    <!--<label for="warn_id">编号</label>-->
                    <input type="hidden" class="form-control" id="warn_id" name="warn_id">
                </div>
                <div class="form-group">
                    <label for="bridge_id">桥梁名称</label>
                    <select class="form-control" id="bridge_id" name="bridge_id">
                        <option value="">--请选择--</option>
                        <option th:each="bridge:${session.bridges}"  th:value="${bridge.bridge_id}" th:text="${bridge.bridge_name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sensor_id">传感器名称</label>
                    <select class="form-control" id="sensor_id" name="sensor_id">
                        <option value="">--请选择--</option>
                        <option th:each="sensor:${session.sensors}"  th:value="${sensor.sensor_id}" th:text="${sensor.sensor_name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="warn_date">报警日期</label>
                    <input type="date" class="form-control" id="warn_date" name="warn_date">
                </div>
                <div class="form-group">
                    <label for="relieve_date">解除报警日期</label>
                    <input type="date" class="form-control" id="relieve_date" name="relieve_date" readonly>
                </div>
                <div class="form-group">
                    <label for="status">警报状态</label>
                    <input type="text" id="status" class="form-control" name="status"  value="未解除" readonly>

                    <!--<label class="radio-inline">-->
                        <!--<input type="radio" name="status" id="status" value="已解除"> 已解除-->
                    <!--</label>-->
                    <!--<label class="radio-inline">-->
                        <!--<input type="radio" name="status" id="inlineRadio2" value="未解除"> 未解除-->
                    <!--</label>-->
                </div>

                <div align="center" style="margin-top: 8px;padding-right: 50px;" >
                    <button type="submit" class="btn btn-primary">添加</button>
                    <a th:href="@{/Warn_record/allWarn_records}"><button type="submit" class="btn btn-primary">返回主页面</button></a>
                </div>

            </form>
        </div>
    </div>
</body>
</html>