<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>解除报警</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container" style="width:500px">
        <form th:action="@{/updateWarn_record}" th:object="${wr}" method="post">
            <div class="form-group">
                <label for="warn_id" >编号:</label>
                <input type="text" class="form-control " id="warn_id" th:field="*{warn_id}" readonly="readonly">
            </div>
            <div class="form-group">
                <label for="bridge_number">桥梁编号:</label>
                <input type="text" class="form-control" id="bridge_number" th:field="*{bridge_id}" readonly="readonly">
            </div>
            <div class="form-group">
                <label for="sensor_id">传感器编号:</label>
                <input type="text" class="form-control" id="sensor_id" th:field="*{sensor_id}" readonly="readonly">
            </div>

            <div class="form-group">
                <!--<label for="warn_date">日期：</label>-->
                <input type="hidden" class="form-control" id="warn_date" th:field="*{warn_date}" >
            </div>
            <div class="form-group">
                <label for="status">警报状态：</label>
                <select id="status" class="form-control" name="status">
                    <option >未解除</option>
                    <option >已解除</option>
                </select>
            </div>

            <div align="center" style="margin-top: 8px;padding-right: 50px;" >
                <button type="submit" class="btn btn-default">解除报警</button>
                <a href="/allWarn_records" th:href="@{/allWarn_records}"><button type="submit" class="btn btn-default">返回主页面</button></a>
            </div>
        </form>
    </div>
</div>
</body>
</html>