<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout">
<head>
    <meta charset="UTF-8">
    <title>添加权限组</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css}">

    <!-- Latest compiled and minified JavaScript -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js}"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js}"></script>
    <script>
        $(window).on('load',function () {
            $('#permission_name').selectpicker({'selectedText':'cat'});
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <div style="margin: 10px 100px 10px auto" align="right">
        <a href="/user/allUser" th:href="@{/user/allUser}" class="btn btn-default">Back</a>
    </div>
    <div style="border: 1px solid #000000;margin: 100px auto;width: 600px;text-align: center" >
        <p>添加权限组</p>
        <form class="form-horizontal" role="form" method="post" th:object="${user}" th:action="@{/user/userAddrole}">

            <div class="form-group">
                <label for="user_id" class="col-sm-3 control-label">编号</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="user_id" id="user_id" th:field="*{user_id}" readonly />
                </div>
            </div>

            <div class="form-group">
                <label for="user_name" class="col-sm-3 control-label">用户名</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="user_name" id="user_name" th:field="*{user_name}" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">密码</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="password" id="password" th:field="*{password}" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="role_id" class="col-sm-3 control-label">拥有的权限组</label>
                <div class="col-sm-7">
                    <select class="form-control show-tick selectpicker" id="role_id"
                            name="role_id" data-live-search="true" multiple="multiple">
                        <option name="role_id" id="roleid" th:each="Role:${session.session}"
                                th:value="${Role.role_id}"
                                th:text="${Role.role_name}">aaa</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-7">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <button type="reset" class="btn btn-default">取消</button>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>