<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout">
<!--第二个属性标识这个页面被包装到shared/layout页面内-->
<head>
    <meta charset="UTF-8">
    <title>展示所有信息页面</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
    <div class="container-fluid">
        <table class="table table-hover">
            <tr>
                <th>编号</th>
                <th>桥梁编号</th>
                <th>名称</th>
                <th>单位</th>
                <th>阈值</th>
                <th>操作</th>
            </tr>
            <tr th:each="sensor:${sensors}">
                <td th:text="${sensor.sensor_id}"></td>
                <td th:text="${sensor.bridge_id}"></td>
                <td th:text="${sensor.sensor_name}"></td>
                <td th:text="${sensor.parameter_unit}"></td>
                <td th:text="${sensor.threshold}"></td>
                <td>
                    <a th:href="@{'/toUpdate/'+${sensor.sensor_id}}">修改阈值</a>
                </td>
            </tr>

        </table>
    </div>
    </div>
</body>
</html>