<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout">
<!--第二个属性标识这个页面被包装到shared/layout页面内-->
<head>
    <meta charset="UTF-8">
    <title>查询传感器信息页面</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style type="text/css">
        #footer{
            height: 80px;
            width: 100%;
            line-height: 25px;
            text-align: center;
            background-color: #00AEAE;
            padding:20px;
            position: fixed;
            bottom: 5px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <ol class="breadcrumb">
        <li><a href="#">系统管理</a></li>
        <li><a href="#">阈值和报警管理</a></li>
        <li><a href="#">阈值管理</a></li>
        <li class="active">查找阈值</li>
    </ol>
    <div class="container " style="width: 1000px; margin-top: 100px">
        <form th:action="@{/sensor/searchThreshold}" method="post" class="form-horizontal">
            <div class="form-group" >
                <label for="search" class="col-sm-1 control-label">查询</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control " name="sensor_name" id="search" placeholder="请输入查询的传感器名称">
                </div>
                <button type="submit" class="btn btn-primary col-sm-offset-1 col-sm-1 ">搜索</button>
            </div>
        </form>
        <table class="table table-hover" style="margin-top: 90px;">
            <tr>
                <th>编号</th>
                <th>桥梁名称</th>
                <th>名称</th>
                <th>单位名称</th>
                <th>单位符号</th>
                <th>一级阈值</th>
                <th>二级阈值</th>
                <th>操作</th>
            </tr>
            <tr th:each="sensor:${sensor}">
                <td th:text="${sensor.sensor_id}"></td>
                <td th:text="${sensor.bridge?.bridge_name}"></td>
                <td th:text="${sensor.sensor_name}"></td>
                <td th:text="${sensor.para_unit_cn}"></td>
                <td th:text="${sensor.parameter_unit}"></td>
                <td th:text="${sensor.threshold1}"></td>
                <td th:text="${sensor.threshold2}"></td>
                <td>
                    <a th:href="@{'/sensor/search_toUpdateThreshold/'+${sensor.sensor_id}}">修改阈值</a>
                </td>
            </tr>
        </table>
    </div>
    <div id="footer">
        <p>关于|广告服务|招聘|客服中心|QQ留言|网站管理|加入我们</p>
        <p>Copyright ©2006-2019 All Rights Reserved</p>
    </div>
</div>

</body>
</html>