<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout">
<head>
    <meta charset="UTF-8">
    <title>SVGHistoryData</title>
</head>
<body>
<div layout:fragment="content" >
    <div>
        <select id="bridge" name="Select_Bridge">
            <optgroup id="bridge_opt" label="Bridge">
            </optgroup>
        </select>
        <script>
            $.ajax({
                type : 'get',
                url : '/ajax/ajax_bridges',
                async: false,
                datatype: 'json',
                success: function(result){
                    //alert(result);
                    var obj = eval("("+result+")");
                    var sum = obj.length;
                    var objSelectNow=document.getElementById("bridge_opt");
                    var inner = "";
                    for(var index = 0; index < sum; index++){
                        var str = "<option value='"+obj[index].bridge_id+"'>"+obj[index].bridge_name+"</option>";
                        inner = inner + str;
                    }
                    objSelectNow.innerHTML=inner;
                },
                error: function(result){

                }
            });
        </script>
        <select id="sensor" name="Select_Sensor">
            <optgroup label="Sensor">
                <option value="温度"> 温度 </option>
                <option value="位移"> 位移 </option>
                <option value="微应变"> 微应变 </option>
                <option value="液位变化"> 液位变化 </option>
                <option value="相对沉降量"> 相对沉降量 </option>
                <option value="OBL"> OBL </option>
            </optgroup>
        </select>
    </div>
    <div style="height: 100%; margin: 0">
        <div id="container" style="height: 550px"></div>
        <script type="text/javascript">
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var app = {};

            var bridge_label = document.getElementById("bridge").value;
            var sensor_label = document.getElementById("sensor").value;
            var pre_bridge_label = bridge_label;
            var pre_sensor_label = sensor_label;

            option = null;

            var para_text;
            var date = [];
            var data = [];

            //造数据
            /*
            var base = +new Date(2010, 1, 1, 15, 30, 15);
            var oneDay = 24 * 3600 * 1000;
            var date = [];

            var data = [Math.random() * 300];

            for (var i = 1; i < 20000; i++) {
                var now = new Date(base += oneDay);
                date.push([now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'));
                data.push(Math.round((Math.random() - 0.5) * 20 + data[i - 1]));
            }
*/
            //获取传感器历史数据函数（需要调用）
            function getHisSensorData(){
                $.ajax({
                    type: 'post',
                    url: "/ajax/ajax_history_records",
                    async: false,
                    data: {bridge_id : bridge_label, para_cn : sensor_label},
                    datatype: 'json',
                    success: function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        var para_unit = obj[0].sensor.parameter_unit;
                        para_text = "数据来自桥梁各传感器（单位："+para_unit+"）";
                        //alert(obj[0].sensor.sensor_id);
                        //base = obj[0].date;
                        var sum = obj.length;
                        for (var index = 0; index < sum; index++){
                            var thisdate = new Date(obj[index].date);
                            var curDate = thisdate.toLocaleString();
                            date.push(curDate);
                            data.push(obj[index].value);
                        }
                    },
                    error: function(result){
                        alert("数据请求错误！");
                    }
                });
            }

            //获取历史数据
            getHisSensorData();

            option = {
                tooltip: {
                    trigger: 'axis',
                    position: function (pt) {
                        return [pt[0], '10%'];
                    }
                },
                title: {
                    left: 'center',
                    text: '桥梁传感器历史数据一览图',
                    subtext: para_text
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    //日期数据
                    data: date
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, '100%']
                },
                dataZoom: [{
                    type: 'inside',
                    start: 0,
                    end: 100
                }, {
                    start: 0,
                    end: 10,
                    handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                    handleSize: '80%',
                    handleStyle: {
                        color: '#fff',
                        shadowBlur: 3,
                        shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2,
                        shadowOffsetY: 2
                    }
                }],
                series: [
                    {
                        name:sensor_label,
                        type:'line',
                        smooth:true,
                        symbol: 'none',
                        sampling: 'average',
                        itemStyle: {
                            //color: 'rgb(255, 70, 131)'
                            color: '#66ff71'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                //color: 'rgb(255, 158, 68)'
                                color: '#b8ff9a'
                            }, {
                                offset: 1,
                                //color: 'rgb(255, 70, 131)'
                                color: '#deffdf'
                            }])
                        },
                        //传感器记录数据
                        data: data
                    }
                ]
            };
            ;

            setInterval(function(){
                bridge_label = document.getElementById("bridge").value;
                sensor_label = document.getElementById("sensor").value;
                if(bridge_label != pre_bridge_label || sensor_label != pre_sensor_label){

                    //更新数据和图表
                    var blank1 = [];
                    var blank2 = [];
                    date = blank1;
                    data = blank2;
                    getHisSensorData();

                    option = {
                        tooltip: {
                            trigger: 'axis',
                            position: function (pt) {
                                return [pt[0], '10%'];
                            }
                        },
                        title: {
                            left: 'center',
                            text: '桥梁传感器历史数据一览图',
                            subtext: para_text
                        },
                        toolbox: {
                            feature: {
                                dataZoom: {
                                    yAxisIndex: 'none'
                                },
                                restore: {},
                                saveAsImage: {}
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            //日期数据
                            data: date
                        },
                        yAxis: {
                            type: 'value',
                            boundaryGap: [0, '100%']
                        },
                        dataZoom: [{
                            type: 'inside',
                            start: 0,
                            end: 100
                        }, {
                            start: 0,
                            end: 10,
                            handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                            handleSize: '80%',
                            handleStyle: {
                                color: '#fff',
                                shadowBlur: 3,
                                shadowColor: 'rgba(0, 0, 0, 0.6)',
                                shadowOffsetX: 2,
                                shadowOffsetY: 2
                            }
                        }],
                        series: [
                            {
                                name:sensor_label,
                                type:'line',
                                smooth:true,
                                symbol: 'none',
                                sampling: 'average',
                                itemStyle: {
                                    //color: 'rgb(255, 70, 131)'
                                    color: '#66ff71'
                                },
                                areaStyle: {
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        //color: 'rgb(255, 158, 68)'
                                        color: '#b8ff9a'
                                    }, {
                                        offset: 1,
                                        //color: 'rgb(255, 70, 131)'
                                        color: '#deffdf'
                                    }])
                                },
                                //传感器记录数据
                                data: data
                            }
                        ]
                    };
                    pre_bridge_label = bridge_label;
                    pre_sensor_label = sensor_label;
                    myChart.setOption(option);
                }
            }, 1000);

            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        </script>
    </div>
</div>
</body>
</html>