<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout">
<head>
    <meta charset="UTF-8">
    <title>SVGLiveData</title>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
</head>
<body>
<div layout:fragment="content" >
    <div>
        <select id="bridge" name="Select_Bridge">
            <optgroup label="Bridge">
                <option value="1"> 武汉长江大桥 </option>
                <option value="2"> 武汉长江二桥 </option>
                <option value="3"> 武汉二七长江大桥 </option>
                <option value="4"> 白沙洲大桥 </option>
                <option value="5"> 鹦鹉洲大桥 </option>
            </optgroup>
        </select>
    </div>
    <div style="height: 100%; margin: 0">
        <div id="container" style="height: 650px"></div>
        <script type="text/javascript">
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            option = null;
            var bridge_label = document.getElementById("bridge").value;
            var pre_bridge_label = bridge_label;

            //页面数据存储
            var count = 1;
            var date_tag = new Date(2018, 0, 1, 8, 0, 14);//当前时间(因数据库数据关系，当前时间设置为2018/01/01 08:00:14)
            var date_tag0 = new Date(2018, 0, 1, 8, 0, 0);
            var curDate = new Date();
            curDate = date_tag;
            var date = [];                   //时间
            var temp_data = [];              //温度
            var displacement_data = [];      //位移
            var microstrain_data = [];       //微应变
            var OBL_data = [];               //OBL
            var liquidlevel_data = [];       //液位变化
            var relasedimen_data = [];       //相对沉降量


            //获取传感器15s数据函数
            function get15SecSensorRecord(){
                $.ajax({
                    type: 'post',
                    url: "/ajax/ajax_15Sec_records",
                    async: false,
                    data: {bridge_id: bridge_label, para_cn: '温度', curTime : curDate},
                    datatype: 'json',
                    success: function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        var sum = obj.length;
                        for (var index = 0; index < sum; index++){
                            var thisdate = new Date(obj[index].date);
                            var curdate = thisdate.toLocaleString();
                            date.push(curdate);
                            temp_data.push(obj[index].value);
                        }
                    },
                    error: function (result) {
                        //alert("数据请求错误！");
                    }
                });
                $.ajax({
                    type: 'post',
                    url: "/ajax/ajax_15Sec_records",
                    async: false,
                    data: {bridge_id: bridge_label, para_cn: '位移', curTime : curDate},
                    datatype: 'json',
                    success: function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        var sum = obj.length;
                        for (var index = 0; index < sum; index++){
                            displacement_data.push(obj[index].value);
                        }
                    },
                    error: function (result) {
                        //alert("数据请求错误！");
                    }
                });
                $.ajax({
                    type: 'post',
                    url: "/ajax/ajax_15Sec_records",
                    async: false,
                    data: {bridge_id: bridge_label, para_cn: '微应变', curTime : curDate},
                    datatype: 'json',
                    success: function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        var sum = obj.length;
                        for (var index = 0; index < sum; index++){
                            microstrain_data.push(obj[index].value);
                        }
                    },
                    error: function (result) {
                        //alert("数据请求错误！");
                    }
                });
                $.ajax({
                    type: 'post',
                    url: "/ajax/ajax_15Sec_records",
                    async: false,
                    data: {bridge_id: bridge_label, para_cn: '液位变化', curTime : curDate},
                    datatype: 'json',
                    success: function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        var sum = obj.length;
                        for (var index = 0; index < sum; index++){
                            liquidlevel_data.push(obj[index].value);
                        }
                    },
                    error: function (result) {
                        //alert("数据请求错误！");
                    }
                });
                $.ajax({
                    type: 'post',
                    url: "/ajax/ajax_15Sec_records",
                    async: false,
                    data: {bridge_id: bridge_label, para_cn: '相对沉降量', curTime : curDate},
                    datatype: 'json',
                    success: function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        var sum = obj.length;
                        for (var index = 0; index < sum; index++){
                            relasedimen_data.push(obj[index].value);
                        }
                    },
                    error: function (result) {
                        //alert("数据请求错误！");
                    }
                });
                $.ajax({
                    type: 'post',
                    url: "/ajax/ajax_15Sec_records",
                    async: false,
                    data: {bridge_id: bridge_label, para_cn: 'OBL', curTime : curDate},
                    datatype: 'json',
                    success: function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        var sum = obj.length;
                        for (var index = 0; index < sum; index++){
                            OBL_data.push(obj[index].value);
                        }
                    },
                    error: function (result) {
                        //alert("数据请求错误！");
                    }
                });
            }

            //实时获取传感器每秒数据函数
            function getLiveSensorRecord() {
                $.ajax({
                    type: 'post',
                    url: "/ajax/ajax_live_records",
                    async: false,
                    data: {bridge_id: bridge_label, para_cn: '温度', curTime : curDate},
                    datatype: 'json',
                    success: function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        //alert(obj[0].date);
                        var thisdate = new Date(obj[0].date);
                        var curdate = thisdate.toLocaleString();
                        date.shift();
                        temp_data.shift();
                        date.push(curdate);
                        temp_data.push(obj[0].value);

                    },
                    error: function (result) {
                        //alert("数据请求错误！");
                    }
                });
                $.ajax({
                    type: 'post',
                    url: "/ajax/ajax_live_records",
                    async: false,
                    data: {bridge_id: bridge_label, para_cn: '位移', curTime : curDate},
                    datatype: 'json',
                    success: function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        displacement_data.shift();
                        displacement_data.push(obj[0].value);

                    },
                    error: function (result) {
                        //alert("数据请求错误！");
                    }
                });
                $.ajax({
                    type: 'post',
                    url: "/ajax/ajax_live_records",
                    async: false,
                    data: {bridge_id: bridge_label, para_cn: '微应变', curTime : curDate},
                    datatype: 'json',
                    success: function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        microstrain_data.shift();
                        microstrain_data.push(obj[0].value);

                    },
                    error: function (result) {
                        //alert("数据请求错误！");
                    }
                });
                $.ajax({
                    type: 'post',
                    url: "/ajax/ajax_live_records",
                    async: false,
                    data: {bridge_id: bridge_label, para_cn: '相对沉降量', curTime : curDate},
                    datatype: 'json',
                    success: function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        relasedimen_data.shift();
                        relasedimen_data.push(obj[0].value);

                    },
                    error: function (result) {
                        //alert("数据请求错误！");
                    }
                });
                $.ajax({
                    type: 'post',
                    url: "/ajax/ajax_live_records",
                    async: false,
                    data: {bridge_id: bridge_label, para_cn: '液位变化', curTime : curDate},
                    datatype: 'json',
                    success: function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        liquidlevel_data.shift();
                        liquidlevel_data.push(obj[0].value);

                    },
                    error: function (result) {
                        //alert("数据请求错误！");
                    }
                });
                $.ajax({
                    type: 'post',
                    url: "/ajax/ajax_live_records",
                    async: false,
                    data: {bridge_id: bridge_label, para_cn: 'OBL', curTime : curDate},
                    datatype: 'json',
                    success: function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        OBL_data.shift();
                        OBL_data.push(obj[0].value);

                    },
                    error: function (result) {
                        //alert("数据请求错误！");
                    }
                });
            }

            //获取15s数据
            get15SecSensorRecord();

            option = {
                title: {
                    text: '桥梁动态数据一览图',
                    subtext: '传感器参数'
                },
                tooltip : {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data:['微应变','位移','温度','相对沉降量','液位变化','OBL']
                },
                toolbox: {
                    feature: {
                        magicType: {
                            type: ['line','bar']
                        },
                        restore : {show: true},
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                dataZoom: {
                    show: false,
                    start: 0,
                    end: 100
                },
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : true,
                        data : date
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        scale: true,
                        boundaryGap: [0.2, 0.2]
                    }
                ],
                series : [
                    {
                        name:'微应变',
                        type:'line',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        areaStyle: {},
                        data: microstrain_data
                    },
                    {
                        name:'位移',
                        type:'line',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        areaStyle: {},
                        data: displacement_data
                    },
                    {
                        name:'温度',
                        type:'line',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        areaStyle: {},
                        data: temp_data
                    },
                    {
                        name:'相对沉降量',
                        type:'line',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        areaStyle: {},
                        data: relasedimen_data
                    },
                    {
                        name:'液位变化',
                        type:'line',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        areaStyle: {},
                        data: liquidlevel_data
                    },
                    {
                        name:'OBL',
                        type:'line',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        areaStyle: {},
                        data: OBL_data
                    }


                ]
            };
            ;

            setInterval(function(){
                //alert(curDate);
                bridge_label = document.getElementById("bridge").value;
                if(bridge_label != pre_bridge_label){

                    //重置数据
                    count = -15;
                    curDate = date_tag0;

                    getLiveSensorRecord();

                    pre_bridge_label = bridge_label;
                }else{
                    count++;
                    var time = curDate.getTime();
                    var new_curDate = new Date(time + 1000);
                    curDate = new_curDate;
                    if(count <= 6){
                        getLiveSensorRecord();
                    }
                }
                myChart.setOption(option);
            }, 1000);

            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
         </script>
    </div>
</div>
</body>
</html>