<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout">
<head>
    <meta charset="UTF-8">
    <title>SVGWarnRecords</title>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
</head>
<body>
<div layout:fragment="content" >
    <div>
        <select id="year" name = "choose_year">
            <optgroup label="year" >
                <option value= 2019> 2019年 </option>
                <option value= 2018> 2018年 </option>
                <option value= 2017> 2017年 </option>
                <option value= 2016> 2016年 </option>
                <option value= 2015> 2015年 </option>
                <option value= 2014> 2014年 </option>
                <option value= 2013> 2013年 </option>
                <option value= 2012> 2012年 </option>
                <option value= 2011> 2011年 </option>
                <option value= 2010> 2010年 </option>
            </optgroup>
        </select>
    </div>
    <div style="height: 100%; margin: 0">
        <div id="container" style="height: 650px"></div>
        <script type="text/javascript">
            var year_label = document.getElementById("year").value;
            var old_year_label = year_label;
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            //获取随机数据（数值最大的12个标红）与业务逻辑不同，后续需要修改
            function getVirtulData() {
                //year_label = year || '2017';
                var date = +echarts.number.parseDate(year_label + '-01-01');
                var end = +echarts.number.parseDate((+year_label + 1) + '-01-01');
                var dayTime = 3600 * 24 * 1000;
                var data = [];
                for (var time = date; time < end; time += dayTime) {
                    data.push([
                        echarts.format.formatTime('yyyy-MM-dd', time),
                        Math.floor(Math.random() * 10000)
                    ]);
                }
                return data;
            }

            var title = year_label.toString()+'年桥梁历史报警记录';
            var up_startdate = year_label.toString()+'-01-01';
            var up_enddate = year_label.toString()+'-06-30';
            var down_startdate = year_label.toString()+'-07-01';
            var down_enddate = year_label.toString()+'-12-31';

            var data = getVirtulData();

            option = {
                backgroundColor: '#a9c6c5',

                title: {
                    top: 30,
                    text: title,
                    subtext: '数据来源自传感器',
                    left: 'center',
                    textStyle: {
                        color: '#000000'
                    }
                },
                tooltip : {
                    trigger: 'item'
                },
                legend: {
                    top: '30',
                    left: '100',
                    data:['正常', '报警'],
                    textStyle: {
                        color: '#000000'
                    }
                },
                calendar: [{
                    top: 100,
                    left: 'center',
                    range: [up_startdate, up_enddate],
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: '#000',
                            width: 4,
                            type: 'solid'
                        }
                    },
                    yearLabel: {
                        formatter: '{start}  上半年',
                        textStyle: {
                            color: '#000000'
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#323c48',
                            borderWidth: 1,
                            borderColor: '#111'
                        }
                    }
                }, {
                    top: 340,
                    left: 'center',
                    range: [down_startdate, down_enddate],
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: '#000',
                            width: 4,
                            type: 'solid'
                        }
                    },
                    yearLabel: {
                        formatter: '{start}  下半年',
                        textStyle: {
                            color: '#000000'
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#323c48',
                            borderWidth: 1,
                            borderColor: '#111'
                        }
                    }
                }],
                series : [
                    {
                        name: '正常',
                        type: 'scatter',
                        coordinateSystem: 'calendar',
                        data: data,
                        symbolSize: function (val) {
                            return val[1] / 500;
                        },
                        itemStyle: {
                            normal: {
                                //color: '#ddb926'
                                color: '#76dd52'
                            }
                        }
                    },
                    {
                        name: '正常',
                        type: 'scatter',
                        coordinateSystem: 'calendar',
                        calendarIndex: 1,
                        data: data,
                        symbolSize: function (val) {
                            return val[1] / 500;
                        },
                        itemStyle: {
                            normal: {
                                color: '#76dd52'
                            }
                        }
                    },
                    {
                        name: '报警',
                        type: 'effectScatter',
                        coordinateSystem: 'calendar',
                        calendarIndex: 1,
                        data: data.sort(function (a, b) {
                            return b[1] - a[1];
                        }).slice(0, 20),
                        symbolSize: function (val) {
                            return val[1] / 500;
                        },
                        showEffectOn: 'render',
                        rippleEffect: {
                            brushType: 'stroke'
                        },
                        hoverAnimation: true,
                        itemStyle: {
                            normal: {
                                //color: '#f4e925',
                                color: '#f44747',
                                shadowBlur: 10,
                                shadowColor: '#333'
                            }
                        },
                        zlevel: 1
                    },
                    {
                        name: '报警',
                        type: 'effectScatter',
                        coordinateSystem: 'calendar',
                        data: data.sort(function (a, b) {
                            return b[1] - a[1];
                        }).slice(0, 20),
                        symbolSize: function (val) {
                            return val[1] / 500;
                        },
                        showEffectOn: 'render',
                        rippleEffect: {
                            brushType: 'stroke'
                        },
                        hoverAnimation: true,
                        itemStyle: {
                            normal: {
                                color: '#f44747',
                                shadowBlur: 10,
                                shadowColor: '#333'
                            }
                        },
                        zlevel: 1
                    }
                ]
            };

            setInterval(function(){
                year_label = document.getElementById("year").value;
                //alert(year_label.toString()+old_year_label.toString());
                if(year_label != old_year_label)
                {
                    //alert(${warn});
                    title = year_label.toString()+'年桥梁历史报警记录';
                    up_startdate = year_label.toString()+'-01-01';
                    up_enddate = year_label.toString()+'-06-30';
                    down_startdate = year_label.toString()+'-07-01';
                    down_enddate = year_label.toString()+'-12-31';
                    data = getVirtulData();

                    option = {
                        backgroundColor: '#a9c6c5',

                        title: {
                            top: 30,
                            text: title,
                            subtext: '数据来源自传感器',
                            left: 'center',
                            textStyle: {
                                color: '#000000'
                            }
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        legend: {
                            top: '30',
                            left: '100',
                            data: ['正常', '报警'],
                            textStyle: {
                                color: '#000000'
                            }
                        },
                        calendar: [{
                            top: 100,
                            left: 'center',
                            range: [up_startdate, up_enddate],
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    color: '#000',
                                    width: 4,
                                    type: 'solid'
                                }
                            },
                            yearLabel: {
                                formatter: '{start}  上半年',
                                textStyle: {
                                    color: '#000000'
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: '#323c48',
                                    borderWidth: 1,
                                    borderColor: '#111'
                                }
                            }
                        }, {
                            top: 340,
                            left: 'center',
                            range: [down_startdate, down_enddate],
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    color: '#000',
                                    width: 4,
                                    type: 'solid'
                                }
                            },
                            yearLabel: {
                                formatter: '{start}  下半年',
                                textStyle: {
                                    color: '#000000'
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: '#323c48',
                                    borderWidth: 1,
                                    borderColor: '#111'
                                }
                            }
                        }],
                        series: [
                            {
                                name: '正常',
                                type: 'scatter',
                                coordinateSystem: 'calendar',
                                data: data,
                                symbolSize: function (val) {
                                    return val[1] / 500;
                                },
                                itemStyle: {
                                    normal: {
                                        //color: '#ddb926'
                                        color: '#76dd52'
                                    }
                                }
                            },
                            {
                                name: '正常',
                                type: 'scatter',
                                coordinateSystem: 'calendar',
                                calendarIndex: 1,
                                data: data,
                                symbolSize: function (val) {
                                    return val[1] / 500;
                                },
                                itemStyle: {
                                    normal: {
                                        color: '#76dd52'
                                    }
                                }
                            },
                            {
                                name: '报警',
                                type: 'effectScatter',
                                coordinateSystem: 'calendar',
                                calendarIndex: 1,
                                data: data.sort(function (a, b) {
                                    return b[1] - a[1];
                                }).slice(0, 20),
                                symbolSize: function (val) {
                                    return val[1] / 500;
                                },
                                showEffectOn: 'render',
                                rippleEffect: {
                                    brushType: 'stroke'
                                },
                                hoverAnimation: true,
                                itemStyle: {
                                    normal: {
                                        //color: '#f4e925',
                                        color: '#f44747',
                                        shadowBlur: 10,
                                        shadowColor: '#333'
                                    }
                                },
                                zlevel: 1
                            },
                            {
                                name: '报警',
                                type: 'effectScatter',
                                coordinateSystem: 'calendar',
                                data: data.sort(function (a, b) {
                                    return b[1] - a[1];
                                }).slice(0, 20),
                                symbolSize: function (val) {
                                    return val[1] / 500;
                                },
                                showEffectOn: 'render',
                                rippleEffect: {
                                    brushType: 'stroke'
                                },
                                hoverAnimation: true,
                                itemStyle: {
                                    normal: {
                                        color: '#f44747',
                                        shadowBlur: 10,
                                        shadowColor: '#333'
                                    }
                                },
                                zlevel: 1
                            }
                        ]
                    };

                    old_year_label = year_label;
                    myChart.setOption(option);
                }
            }, 1000);
            ;

            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        </script>
    </div>
</div>
</body>
</html>