<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout">
<head>
    <meta charset="UTF-8">
    <title>SVGWarnRecords</title>
</head>
<body>
<div layout:fragment="content" >
    <div>
        <select id="year" name = "choose_year">
            <optgroup label="year" >
                <option value= 2019> 2019年 </option>
                <option value= 2018> 2018年 </option>
                <option value= 2017> 2017年 </option>
                <option value= 2016> 2016年 </option>
                <option value= 2015> 2015年 </option>
                <option value= 2014> 2014年 </option>
                <option value= 2013> 2013年 </option>
                <option value= 2012> 2012年 </option>
                <option value= 2011> 2011年 </option>
                <option value= 2010> 2010年 </option>
            </optgroup>
        </select>
    </div>
    <div style="height: 100%; margin: 0">
        <div id="container" style="height: 650px"></div>
        <script type="text/javascript">
            //获取选中的年份
            var year_label = document.getElementById("year").value;
            var old_year_label = year_label;

            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;

            //查询报警记录函数
            function getWarnData() {
                //year_label = year || '2017';
                var date = +echarts.number.parseDate(year_label + '-01-01');
                var end = +echarts.number.parseDate((+year_label + 1) + '-01-01');
                var dayTime = 3600 * 24 * 1000;
                var data = [];
                $.ajax({
                    type: 'get',
                    url: "/ajax/ajax_warn_records",
                    async: false,
                    data:"",
                    datatype: "json",
                    success:function(result){
                        //alert(result);
                        var obj = eval("("+result+")");
                        //alert(obj[0].status);
                        for (var time = date; time < end; time += dayTime) {
                            var flag = false;
                            for(var index = 0; index < obj.length; index++){
                                var cur_wrdate = obj[index].warn_date;
                                if(cur_wrdate>=time && cur_wrdate < time+dayTime){
                                    flag = true;
                                    if(obj[index].status == "未解除"){
                                        data.push([
                                            echarts.format.formatTime('yyyy-MM-dd', time),
                                            Math.floor(9999)
                                        ]);
                                    }else if(obj[index].status == "已解除"){
                                        data.push([
                                            echarts.format.formatTime('yyyy-MM-dd', time),
                                            Math.floor(8888)
                                        ]);
                                    }
                                    break;
                                }
                            }
                            if(flag == false){
                                data.push([
                                    echarts.format.formatTime('yyyy-MM-dd', time),
                                    Math.floor(6666)
                                ]);
                            }
                        }
                    },
                    error:function(result){
                        alert("数据请求错误");a
                    }
                });
                return data;
            }

            //筛选
            function isWarnRecord(element) {
                return element[1] > 7777;
            }


            var title = year_label.toString()+'年桥梁历史报警记录';
            var up_startdate = year_label.toString()+'-01-01';
            var up_enddate = year_label.toString()+'-06-30';
            var down_startdate = year_label.toString()+'-07-01';
            var down_enddate = year_label.toString()+'-12-31';

            //获取记录
            var data = getWarnData();

            option = {
                backgroundColor: '#ffffff',

                title: {
                    top: 30,
                    text: title,
                    subtext: '数据来源自传感器',
                    left: 'center',
                    textStyle: {
                        color: '#000000'
                    }
                },
                tooltip : {
                    trigger: 'item'
                },
                legend: {
                    top: '30',
                    left: '100',
                    data:['正常', '报警'],
                    textStyle: {
                        color: '#000000'
                    }
                },
                calendar: [{
                    top: 100,
                    left: 'center',
                    range: [up_startdate, up_enddate],
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: '#000',
                            width: 4,
                            type: 'solid'
                        }
                    },
                    yearLabel: {
                        formatter: '{start}  上半年',
                        textStyle: {
                            color: '#000000'
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#323c48',
                            borderWidth: 1,
                            borderColor: '#111'
                        }
                    }
                }, {
                    top: 340,
                    left: 'center',
                    range: [down_startdate, down_enddate],
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: '#000',
                            width: 4,
                            type: 'solid'
                        }
                    },
                    yearLabel: {
                        formatter: '{start}  下半年',
                        textStyle: {
                            color: '#000000'
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#323c48',
                            borderWidth: 1,
                            borderColor: '#111'
                        }
                    }
                }],
                series : [
                    {
                        name: '正常',
                        type: 'scatter',
                        coordinateSystem: 'calendar',
                        data: data,
                        symbolSize: function (val) {
                            return Math.floor(Math.random() * val[1]) / 500;
                        },
                        itemStyle: {
                            normal: {
                                color: '#76dd52'
                            }
                        }
                    },
                    {
                        name: '正常',
                        type: 'scatter',
                        coordinateSystem: 'calendar',
                        calendarIndex: 1,
                        data: data,
                        symbolSize: function (val) {
                            return Math.floor(Math.random() * val[1]) / 500;
                        },
                        itemStyle: {
                            normal: {
                                color: '#76dd52'
                            }
                        }
                    },
                    {
                        name: '报警',
                        type: 'effectScatter',
                        coordinateSystem: 'calendar',
                        calendarIndex: 1,
                        data: data.filter(isWarnRecord),
                        symbolSize: function (val) {
                            return val[1] / 500;
                        },
                        showEffectOn: 'render',
                        rippleEffect: {
                            brushType: 'stroke'
                        },
                        hoverAnimation: true,
                        itemStyle: {
                            normal: {
                                color: '#f44747',
                                shadowBlur: 10,
                                shadowColor: '#333'
                            }
                        },
                        zlevel: 1
                    },
                    {
                        name: '报警',
                        type: 'effectScatter',
                        coordinateSystem: 'calendar',
                        data: data.filter(isWarnRecord),
                        symbolSize: function (val) {
                            return val[1] / 500;
                        },
                        showEffectOn: 'render',
                        rippleEffect: {
                            brushType: 'stroke'
                        },
                        hoverAnimation: true,
                        itemStyle: {
                            normal: {
                                color: '#f44747',
                                shadowBlur: 10,
                                shadowColor: '#333'
                            }
                        },
                        zlevel: 1
                    }
                ]
            };

            //实时检查更新数据(每秒执行一次)
            setInterval(function(){
                year_label = document.getElementById("year").value;
                if(year_label != old_year_label)
                {
                    title = year_label.toString()+'年桥梁历史报警记录';
                    up_startdate = year_label.toString()+'-01-01';
                    up_enddate = year_label.toString()+'-06-30';
                    down_startdate = year_label.toString()+'-07-01';
                    down_enddate = year_label.toString()+'-12-31';
                    var blank = [];
                    data = blank;
                    data = getWarnData();

                    option = {
                        backgroundColor: '#ffffff',

                        title: {
                            top: 30,
                            text: title,
                            subtext: '数据来源自传感器',
                            left: 'center',
                            textStyle: {
                                color: '#000000'
                            }
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        legend: {
                            top: '30',
                            left: '100',
                            data: ['正常', '报警'],
                            textStyle: {
                                color: '#000000'
                            }
                        },
                        calendar: [{
                            top: 100,
                            left: 'center',
                            range: [up_startdate, up_enddate],
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    color: '#000',
                                    width: 4,
                                    type: 'solid'
                                }
                            },
                            yearLabel: {
                                formatter: '{start}  上半年',
                                textStyle: {
                                    color: '#000000'
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: '#323c48',
                                    borderWidth: 1,
                                    borderColor: '#111'
                                }
                            }
                        }, {
                            top: 340,
                            left: 'center',
                            range: [down_startdate, down_enddate],
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    color: '#000',
                                    width: 4,
                                    type: 'solid'
                                }
                            },
                            yearLabel: {
                                formatter: '{start}  下半年',
                                textStyle: {
                                    color: '#000000'
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: '#323c48',
                                    borderWidth: 1,
                                    borderColor: '#111'
                                }
                            }
                        }],
                        series: [
                            {
                                name: '正常',
                                type: 'scatter',
                                coordinateSystem: 'calendar',
                                data: data,
                                symbolSize: function (val) {
                                    return Math.floor(Math.random() * val[1]) / 500;
                                },
                                itemStyle: {
                                    normal: {
                                        color: '#76dd52'
                                    }
                                }
                            },
                            {
                                name: '正常',
                                type: 'scatter',
                                coordinateSystem: 'calendar',
                                calendarIndex: 1,
                                data: data,
                                symbolSize: function (val) {
                                    return Math.floor(Math.random() * val[1]) / 500;
                                },
                                itemStyle: {
                                    normal: {
                                        color: '#76dd52'
                                    }
                                }
                            },
                            {
                                name: '报警',
                                type: 'effectScatter',
                                coordinateSystem: 'calendar',
                                calendarIndex: 1,
                                data: data.filter(isWarnRecord),
                                symbolSize: function (val) {
                                    return val[1] / 500;
                                },
                                showEffectOn: 'render',
                                rippleEffect: {
                                    brushType: 'stroke'
                                },
                                hoverAnimation: true,
                                itemStyle: {
                                    normal: {
                                        color: '#f44747',
                                        shadowBlur: 10,
                                        shadowColor: '#333'
                                    }
                                },
                                zlevel: 1
                            },
                            {
                                name: '报警',
                                type: 'effectScatter',
                                coordinateSystem: 'calendar',
                                data: data.filter(isWarnRecord),
                                symbolSize: function (val) {
                                    return val[1] / 500;
                                },
                                showEffectOn: 'render',
                                rippleEffect: {
                                    brushType: 'stroke'
                                },
                                hoverAnimation: true,
                                itemStyle: {
                                    normal: {
                                        color: '#f44747',
                                        shadowBlur: 10,
                                        shadowColor: '#333'
                                    }
                                },
                                zlevel: 1
                            }
                        ]
                    };

                    old_year_label = year_label;
                    myChart.setOption(option);
                }
            }, 1000);
            ;

            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        </script>
    </div>
</div>
</body>
</html>