<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改阈值</title>
</head>
<body>
    <form th:action="@{/web/update}" th:object="${sensor}" method="post">
        <p>编号：<input type="text"  th:field="*{sensor_id}" readonly="readonly"/></p>
        <p>桥梁编号：<input type="text"  th:field="*{bridge_id}" readonly="readonly"/></p>
        <p>传感器名称：<input type="hidden" th:field="*{sensor_name}" readonly="readonly"/></p>
        <p>参数单位：<input type="hidden" th:field="*{parameter_unit}" readonly="readonly"/></p>
        <p>阈值：<input type="text"  th:field="*{threshold}"/></p>
        <input type="submit" value="更改">
        <a href="/web/all" th:href="@{/web/list}">返回主页面</a>
    </form>
</body>
</html>