<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout" >
<!--第二个属性标识这个页面被包装到shared/layout页面内-->
<head>
    <meta charset="UTF-8">
    <title>展示所有信息页面</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="#">系统管理</a></li>
            <li><a href="#">桥梁管理</a></li>
            <li class="active">展示桥梁</li>
        </ol>
        <table class="table table-hover table-bordered">
            <tr style="background-color: #e1edf7">
                <th>编号</th>
                <th>名称</th>
                <th>寿命</th>
                <th>长度</th>
                <th>信息</th>
                <th>包含的传感器名称</th>
                <th>操作</th>
            </tr>
            <tr th:each="bridge:${bridge}">
                <td th:text="${bridge.bridge_id}"></td>
                <td th:text="${bridge.bridge_name}"></td>
                <td th:text="${bridge.design_life}"></td>
                <td th:text="${bridge.bridge_length}"></td>
                <td th:text="${bridge.bridge_info}"></td>
                <td style="width:30%;word-wrap: break-word;word-break: keep-all">
                    <c forEach th:each="s:${bridge.sensor}" th:text="${s.sensor_name} + ' | '"></c>
                </td>
                <td>
                    <a th:href="@{'/bridge/toUpdate/'+${bridge.bridge_id}}">修改桥梁</a>
                    |
                    <a th:href="@{'/bridge/delBridge/'+${bridge.bridge_id}}">删除桥梁</a>
                </td>
            </tr>
        </table>
        <div th:align="right">
            <a th:href="@{/bridge/toAddBridges}"><button class="btn btn-primary" >添加桥梁</button></a>
        </div>

    </div>

    <nav aria-label="Page navigation" style="text-align: center;">
        <ul class="pagination" style="text-align: center;">
            <li th:class="${pageIndex == 1}? 'disabled':''"><a th:href="@{'/bridge/allBridges/'+${pageIndex-1}}">上一页</a></li>
            <li th:if="${pageIndex-3 >= 1}"><a th:href="@{'/bridge/allBridges/'+${pageIndex-3}}" th:text="${pageIndex-3}">1</a></li>
            <li th:if="${pageIndex-2 >= 1}"><a th:href="@{'/bridge/allBridges/'+${pageIndex-2}}" th:text="${pageIndex-2}">1</a></li>
            <li th:if="${pageIndex-1 >= 1}"><a th:href="@{'/bridge/allBridges/'+${pageIndex-1}}" th:text="${pageIndex-1}">1</a></li>
            <li class="active"><a href="#" th:text="${pageIndex}">1</a></li>
            <li th:if="${pageIndex+1 <= pageTotal}"><a th:href="@{'/bridge/allBridges/'+${pageIndex+1}}" th:text="${pageIndex+1}">1</a></li>
            <li th:if="${pageIndex+2 <= pageTotal}"><a th:href="@{'/bridge/allBridges/'+${pageIndex+2}}" th:text="${pageIndex+2}">1</a></li>
            <li th:if="${pageIndex+3 <= pageTotal}"><a th:href="@{'/bridge/allBridges/'+${pageIndex+3}}" th:text="${pageIndex+3}">1</a></li>
            <li th:class="${pageIndex == pageTotal}? 'disabled':''"><a th:href="@{'/bridge/allBridges/'+${pageIndex+1}}">下一页</a></li>
        </ul>
    </nav>

    <div th:replace="common/foot::footer"></div>

</div>
</body>
</html>