<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultrap.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/layoutit.css" />
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <br>
            <div align="center"><h1>历史警告列表</h1></div>
            <br>
            <br>
            <div align="center" >
                <input type="datetime-local"  value="2019-01-17T10:37:59" min="2018-12-25" max="2019-03-15" >
                --
                <input type="datetime-local"  value="2019-01-18T10:37:59" min="2018-12-25" max="2019-03-15">
            </div>

            <hr width="850" size="1" color="#000000">
            <br><br>
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>预警</th>
                    <th>预警桥梁</th>
                    <th>产生时间</th>
                    <th>警告日志</th>
                    <th>警告参数</th>
                    <th>传感器编号</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>G0078</td>
                    <td>武汉长江大桥</td>
                    <td>2019.1.16 15:22:46</td>
                    <td>已处理！处理人:王刚战</td>
                    <td>承重: >= 4000kt</td>
                    <td>CZ0012</td>
                </tr>
                <tr>
                    <td>B12041</td>
                    <td>白石拱桥</td>
                    <td>2019.1.16 14:45:32</td>
                    <td>已处理! 处理人:郭德纲</td>
                    <td>温度: >= 39.3</td>
                    <td>WD0094</td>
                </tr>
                <tr>
                    <td>M12138</td>
                    <td>金门大桥</td>
                    <td>2019.1.16 13:09:38</td>
                    <td>未处理!</td>
                    <td>微应变: >= 22.8</td>
                    <td>WYB102</td>
                </tr>
                <tr>
                    <td>AF1794</td>
                    <td>撒哈拉大桥</td>
                    <td>2019.1.16 11:56:07</td>
                    <td>已处理！处理人: 吴江国</td>
                    <td>相对沉降量: >= 57.9</td>
                    <td>CJL098</td>
                </tr>
                <tr>
                    <td>QZ4871</td>
                    <td>育碧土豆大桥</td>
                    <td>2019.1.16 10:27:38</td>
                    <td>已处理！ 处理人: 赵江河</td>
                    <td>温度: >= 37.8</td>
                    <td>WD0129</td>
                </tr>
                <tr>
                    <td>YX5641</td>
                    <td>横溪跨江大桥</td>
                    <td>2019.1.16 08:12:00</td>
                    <td>已处理! 处理人: 周平钊</td>
                    <td>液位变化: >= 125</td>
                    <td>YW1109</td>
                </tr>
                </tbody>
            </table>

            <div align="center">
                <br>
                <br>
                <style type="text/css">
                    input.text{text-align: center;}
                </style>
                <button class="btn" type="button">Page up</button>
                &nbsp&nbsp<input  class="text" type="text"  size="2" value="1">&nbsp&nbsp
                <button class="btn" type="button">Page down</button>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>



</div>
</body>

</html>