<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultrap.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/layoutit.css" />
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <br>
            <div align="center"><h1>历史数据列表</h1></div>
            <br>
            <br>
            <div align="center" >
                <input type="datetime-local"  value="2019-01-17T10:37:59" min="2018-12-25" max="2019-03-15" >
                --
                <input type="datetime-local"  value="2019-01-18T10:37:59" min="2018-12-25" max="2019-03-15">
            </div>

            <hr width="850" size="1" color="#000000">
            <br><br>
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>桥梁</th>
                    <th>温度</th>
                    <th>湿度</th>
                    <th>承重</th>
                    <th>曲率</th>
                    <th>弧度</td>
                    <th>通行量</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>武汉长江大桥</td>
                    <td>26</td>
                    <td>45%</td>
                    <td>400kt</td>
                    <td>10</td>
                    <td>0.13</td>
                    <td>68546</td>
                </tr>
                <tr>
                    <td>白石拱桥</td>
                    <td>22</td>
                    <td>65%</td>
                    <td>400t</td>
                    <td>45</td>
                    <td>0.53</td>
                    <td>1546</td>
                </tr>
                <tr>
                    <td>金门大桥</td>
                    <td>33</td>
                    <td>45%</td>
                    <td>438kt</td>
                    <td>12</td>
                    <td>0.13</td>
                    <td>111546</td>
                </tr>
                <tr>
                    <td>撒哈拉大桥</td>
                    <td>45</td>
                    <td>1%</td>
                    <td>400mt</td>
                    <td>9</td>
                    <td>0.09</td>
                    <td>111111546</td>
                </tr>
                <tr>
                    <td>茄子揍土豆天桥</td>
                    <td>32</td>
                    <td>75%</td>
                    <td>40kt</td>
                    <td>15</td>
                    <td>0.23</td>
                    <td>18546</td>
                </tr>
                <tr>
                    <td>冬瓜架南瓜索桥</td>
                    <td>32</td>
                    <td>33%</td>
                    <td>4kg</td>
                    <td>12</td>
                    <td>0.19</td>
                    <td>146</td>
                </tr>
                </tbody>
            </table>

            <div align="center">
                <br>
                <br>
                <style type="text/css">
                    input.text{text-align: center;}
                </style>
                <button class="btn" type="button">Page up</button>
                &nbsp&nbsp<input  class="text" type="text"  size="2" value="1">&nbsp&nbsp
                <button class="btn" type="button">Page down</button>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>



</div>
</body>

</html>