<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="siderbar" class="sidebar-nav" style="top:50px">
    <ul id="menu-one" class="L1">
        <li>
            <a data-toggle="collapse" data-parent="#nav-one" href="#menu-two">
                一级菜单
            </a>
            <ul id="menu-two" class="collapse L2">
                <li class="">
                    <a data-parent="#pc" data-toggle="collapse" href="#menu-three">二级菜单</a>
                    <ul id="menu-three" class="collapse L3">
                        <li th:each="item : ${session.list}">
                            <a href="#" th:text="${item}"></a>
                        </li>
                        <li>
                            <a href="#">三级菜单</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a data-toggle="collapse" data-parent="#menu-one" href="#menu-user2">
                用户菜单
            </a>
            <ul id="menu-user2" class="collapse L2">
                <li>
                    <a data-parent="#menu-user2" data-toggle="collapse" href="#menu-user3">二级菜单</a>
                    <ul id="menu-user3" class="collapse L3">
                        <li>
                            <a href="#">三级菜单</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</body>
</html>