<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout">
<head>
    <meta charset="UTF-8">
    <title>修改用户信息</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <script src="../../static/js/bootstrap.js"></script>
    <script src="../../static/js/jquery-1.10.2.js"></script>
</head>
<body>
<div layout:fragment="content">
<div style="text-align:center;margin:20px auto;">
    <b style="font-size:16px;" th:text="${cap}">操作成功！</b>
</div>

<div style="border: 1px solid #000000;margin: 100px auto;width: 600px;text-align: center" >
    <p>修改用户信息</p>
    <form class="form-horizontal" role="form" method="post" th:object="${user}" th:action="@{/update}">

        <div class="form-group">
            <label for="user_name" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="user_name" id="user_name" th:value="${user.user_name}"
                       th:field="*{user_name}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="password" id="password" th:value="${user.password}"
                th:field="*{password}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-7">
                <button type="submit" class="btn btn-primary">修改</button>
                <button type="reset" class="btn btn-default">取消</button>
            </div>
        </div>

    </form>
</div>
</div>
</body>
</html>