<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout">
<head>
    <meta charset="UTF-8">
    <title>修改权限信息</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">

    <div style="margin: 10px 100px 10px auto" align="right">
        <a href="/allPer" th:href="@{/allPer}" class="btn btn-default">Back</a>
    </div>
    <div style="border: 1px solid #000000;margin: 100px auto;width: 600px;text-align: center" >
        <p>修改权限信息</p>
        <form class="form-horizontal" role="form" method="post" th:object="${per}" th:action="@{/updatePer}">

            <div class="form-group">
                    <label for="permission_id" class="col-sm-2 control-label">编号</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="permission_id" id="permission_id"
                           th:field="*{permission_id}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="permission_name" class="col-sm-2 control-label" disabled="">权限名</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="permission_name" id="permission_name" th:value="${per.permission_name}"
                           th:field="*{permission_name}" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label for="permissionE" class="col-sm-2 control-label" disabled="">权限</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="permissionE" id="permissionE" th:value="${per.permissionE}"
                           th:field="*{permissionE}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="url" class="col-sm-2 control-label" disabled="">URL</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="url" id="url" th:value="${per.url}"
                           th:field="*{permission_name}" readonly/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-7">
                    <button type="submit" class="btn btn-primary">修改</button>
                    <button type="reset" class="btn btn-default">取消</button>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>