<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="shared/layout">
<head>
    <meta charset="UTF-8">
    <title>查找权限组信息</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div style="margin: 10px 100px 30px auto" align="right">
        <a href="/role/allRole" th:href="@{/role/allRole}" class="btn btn-default">Back</a>
    </div>

    <form class="form-horizontal" role="form" method="post" th:action="@{/role/searchRole}">
        <div class="form-group">
            <label for="role_name" class="col-sm-2 control-label">检索</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="role_name" id="role_name" placeholder="请输入权限组Name"/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">查询</button>
            </div>
        </div>
    </form>
    <div class="container-fluid">
        <br>
        <br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>权限组名</th>
                <th>权限组</th>
                <th>拥有的权限</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Role : ${role}">
                <td th:text="${Role.role_id}">aaa</td>
                <td th:text="${Role.role_name}">aaa</td>
                <td th:text="${Role.roleE}">aaa</td>
                <td th:each="Permission:${permission}">
                    <font th:text="${Permission.permission_name}">aaa</font>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>